name: Build

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

env:
  MAKEFLAGS: -j2

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Setup Emscripten
        uses: mymindstorm/setup-emsdk@v14
        with:
          version: 4.0.21

      - name: Build Native BusyBox
        run: make $MAKEFLAGS build/native/busybox

      - name: Build Wasm BusyBox
        run: make $MAKEFLAGS build/wasm/busybox_unstripped.js

      - name: Upload Native Artifact
        uses: actions/upload-artifact@v4
        with:
          name: busybox-native
          path: build/native/busybox

      - name: Upload Wasm Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: busybox-wasm
          path: |
            build/wasm/busybox_unstripped.js
            build/wasm/busybox_unstripped.wasm
